<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Recipes Web</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="assets/menu.png">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-ABCDEF..." crossorigin="anonymous" />
</head>

<body>
    <div id="container">
        <!-- NavBar -->
        <nav id="nav-menu">
            <img id="logo" src="assets/logo.png" alt="logo failed to load">
            <h2 id="text">Wanmin Kitchen</h2>
            <audio controls autoplay loop id="audio-player">
                <source src="assets/bgm.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <button id="home">
                <a href="/">
                    <img id="logo1" src="assets/home.png" alt="Home">
                </a>
            </button>
            <% if (user) { %>
                <!-- If user is logged in, display username instead of login button -->
                <button id="login_btn">
                    <%= user.username %>
                </button>
            <% } else { %>
                <!-- If user is not logged in, display Guest -->
                <button id="login_btn">
                    Guest
                </button>
            <% } %>
            <% if (user) { %>
                <!-- If user is logged in, display username instead of login button -->
                <a href="/logout"><button id="login_btn">logout</button></a>
            <% } else { %>
                <!-- If user is not logged in, display login button -->
                <a href="/auth"><button id="login_btn">Login</button></a>
            <% } %>
            <button id="favourite_btn">My Favourites</button>
        </nav>

        <!-- header & main section -->
        <div id="content">
            <div id="stuff-layer">
            <header id="header">
                <h1 id="h1">Find Recipes For You</h1>
                <input id="search_box" type="search" placeholder="&#128269; Search here.. ">
                <h3 id="h3" style="display: none;">Your Search Results:</h3>
                <!-- Add a loading icon -->
                <div id="loading" style="display: none; text-align: center; z-index: 999;">
                    <img src="assets/loading.gif" width="50%" alt="Loading...">
                </div>
            </header>

            <main id="main"></main>
            </div>
        </div>
    </div>

    <!-- Making Favourite section -->
    <div id="favourite_container">
        <div id="fav_head">
            <h1>Favourites</h1>
            <span id="exit" class="material-symbols-outlined">Cancel</span>
        </div>
        <div id="fav_body">
            <!-- <h2>No recipes added in your favourites list.</h2> -->
        </div>
    </div>

    <!-- Include EJS module -->
    <script src="app.js"></script>

    <!-- Include your JavaScript file -->
    <script src="script.js"></script>
</body>
</html>
